extends ../layout

block content

    h2 Submission: #{submission.title}

    p
    | For&nbsp;
    a(href=c_path)
        | #{conf.name}
    | &nbsp;
    a(href=ci_path)
        | '#{instance.year}
    | ,&nbsp;
    a(href=track_path)
        | #{track.name}

    p
        table(class='table table-sm')
            tbody
                tr
                    th(scope='row') URL
                    td
                        a(href=submission.url, target='_blank') #{submission.url}
                if (track.submission)
                    tr
                        th(scope='row') Submission
                        td #{track.submission}
                if (track.notification)
                    tr
                        th(scope='row') Notification
                        td #{track.notification}

    p
        a(href=submission_path + '/edit')
            button(class='btn btn-sm btn-info', type='submit') Edit
        form(method='POST', action=submission_path + '?_method=DELETE')
            button(class='btn btn-sm btn-danger', type='submit') Delete

    h3 Alternatives
    if (alternatives.length > 0)
        table(class='table table-sm')
            thead
                tr
                    th(scope='col') Conference
                    th(scope='col') Year
                    th(scope='col') Track
                    th(scope='col') Submission
                    th(scope='col') &nbsp;
            tbody
                each entry in alternatives
                    tr
                        td
                            a(href=entry.c_path)
                                | #{entry.conf_name}
                        td
                            a(href=entry.ci_path)
                                | #{entry.instance_year}
                            if (entry.city)
                                | &nbsp;(#{entry.city}, #{entry.country})
                        td
                            a(href=entry.track_path)
                                | #{entry.track_name}
                        td #{entry.submission}
                        td
                            form(method='post', action=submission_path + '/track_id?_method=PUT')
                                input(type='hidden', name='conf_id', value=entry.conf_id)
                                input(type='hidden', name='instance_id', value=entry.instance_id)
                                input(type='hidden', name='track_id', value=entry.track_id)
                                button(class='btn btn-sm btn-info', type='submit') Switch

    else
        p There are no known alternatives.

    h3 Fallbacks
    if (upcoming.length > 0)
        table(class='table table-sm')
            thead
                tr
                    th(scope='col') Conference
                    th(scope='col') Year
                    th(scope='col') Track
                    th(scope='col') Submission
            tbody
                each entry in upcoming
                    tr
                        td
                            a(href=entry.c_path)
                                | #{entry.conf_name}
                        td
                            a(href=entry.ci_path)
                                | #{entry.instance_year}
                        td
                            a(href=entry.track_path)
                                | #{entry.track_name}
                        td #{entry.submission}
    else
        p There are no known fallbacks.
