extends layout

block content
    h2 Upcoming events

    table(class='table table-sm table-striped')
        thead
            tr
                th(scope='col') Date
                th(scope='col') Conference
                th(scope='col') Year/Instance
                th(scope='col') What
                th(scope='col') Track
        tbody
        each date in dates
            tr
                th(scope='row') #{date.when}
                td
                    a(href=date.c_path) #{date.conf_name}
                td
                    a(href=date.ci_path) #{date.instance_year}
                td #{date.what}
                td
                    if (date.track_id)
                        a(href=date.ci_path + '/track/' + date.track_id) #{date.track_name}
