extends layout

block content
    h2 Upcoming events

    if (user)
        form(method='POST', action='/follow/filter')
            label(for='show_all', class="col-sm-2 col-form-label") Show all:
            input#show_all(type='checkbox', name='show_all' class='mr-3' checked=show_all)
            button(class='btn btn-sm btn-secondary', type='submit') Filter

    table(class='table table-sm table-striped')
        thead
            tr
                th(scope='col') Date
                th(scope='col') Conference
                th(scope='col') Year/Instance
                th(scope='col') What
                th(scope='col') Track
        tbody
        each date in dates
            tr
                th(scope='row') #{date.datevalue}
                td
                    a(href=date.c_path) #{date.conf.name}
                td
                    a(href=date.ci_path) #{date.instance.year}
                td #{date.what}
                td
                    if (date.track)
                        a(href=date.ci_path + '/track/' + date.track.id) #{date.track.name}
