extends ../layout

block content
    h1
        a(href='/conf/'+conf.id)
            | #{conf.name}
        | &nbsp;#{instance.year}

    p URL:&nbsp;
        a(href=instance.url) #{instance.url}

    p CFP Tracks
        ul
            li
                form(method='POST', action='/track')
                    input(type='hidden', name='instance_id', value=instance.id)
                    label Name:
                    input(type='text', name='name')
                    button(type='submit') New
            each val in tracks
                li
                    a(href='/track/' + val.id)
                        | #{val.name}

    p
        a(href='/instance/edit/' + instance.id)
            div(class='button')
            button(type='submit') Edit
        form(method='POST', action='/instance/' + instance.id + '?_method=DELETE')
            div
                input(type='hidden', name='id', value=instance.id)
                input(type='hidden', name='conf_id', value=instance.conf_id)
            div(class='button')
                button(type='submit') Delete
