extends ../layout

block content
    h1
        a(href='/conf/'+conf.id)
            | #{conf.name}
        | &nbsp;#{instance.year}

    p URL:&nbsp;
        a(href=instance.url) #{instance.url}

    h2 CFP Tracks
    ul
        li
            form(method='POST', action='/track')
                input(type='hidden', name='instance_id', value=instance.id)
                div
                    label(for='instance_name') Name:
                    input#instance_name(type='text', name='name')
                button(type='submit') New
        each val in tracks
            li
                a(href='/track/' + val.id)
                    | #{val.name}

    h2 Dates
    div
        form(method='POST', action='/date')
            input(type='hidden', name='instance_id', value=instance.id)
            div
                label(for='date_what') What:
                input#date_what(type='text', name='what')
            div
                label(for='date_when') When:
                input#date_when(type='date', name='datevalue')
            button(type='submit') New
    ul
        each val in instance.dates
            li #{val.datevalue}: #{val.what}
                form(method='POST', action='/date/' + val.id + '?_method=DELETE')
                    div
                        input(type='hidden', name='instance_id', value=instance.id)
                    div(class='button')
                        button(type='submit') Delete

    p
        a(href='/instance/edit/' + instance.id)
            div(class='button')
            button(type='submit') Edit
        form(method='POST', action='/instance/' + instance.id + '?_method=DELETE')
            div
                input(type='hidden', name='conf_id', value=instance.conf_id)
            div(class='button')
                button(type='submit') Delete
