extends ../layout

block content
    h1=title

    p
        form(method='post', action='/conf/?_method=PUT')
            input(type='hidden', name='id', value=conf.id)
            p
                label Name
                input(type='text', name='name', value=conf.name)
            p
                label Acronym
                input(type='text', name='acronym', value=conf.acronym)
            p
                label URL
                input(type='url', name='url', value=conf.url)
            p
                div(class='button')
                    button(type='submit') Update
