extends ../layout

block content
    if conf.acronym
        h1 #{conf.name + ' (' + conf.acronym + ')'}
    else
        h1 #{conf.name}

    h3 Basic information
    table(class='table table-sm')
        tbody
            tr
                th(scope='row') Main site
                td
                    a(href=conf.url) #{conf.url}

            tr
                th(scope='row') Submission format
                td #{conf.format}

    p
        if following
            form(method='POST', action='/follow/' + following.id + '?_method=DELETE')
                input(type='hidden', name='conf_id', value=conf.id)
                button(class='btn btn-sm btn-primary', type='submit') Unfollow
        else
            form(method='POST', action='/follow')
                input(type='hidden', name='conf_id', value=conf.id)
                button(class='btn btn-sm btn-primary', type='submit') Follow

    h3 Instances
    table(class='table table-sm table-striped')
        thead
            tr
                th(scope='col') Year
                th(scope='col') Site
        tbody
            tr
                td(colspan="2")
                    form(method='POST', action='/instance')
                        input(type='hidden', name='conf_id', value=conf.id)
                        div(class='input-group input-group-sm')
                            input(type='number', min="2015", max="2020", name='year')
                            button(class='btn btn-sm', type='submit') New
            each val in instances
                tr
                    th(scope='row')
                        a(href='/instance/' + val.id)
                            | #{val.year}
                    td
                        if val.url
                            a(href=val.url, target="_blank")
                                | #{val.url}

    p
        a(href='/conf/edit/' + conf.id)
            button(class='btn btn-sm btn-info', type='submit') Edit
        form(method='POST', action='/conf/' + conf.id + '?_method=DELETE')
            input(type='hidden', name='id', value=conf.id)
            button(class='btn btn-sm btn-danger', type='submit') Delete
