extends layout

block content
    h2 Upcoming events

    table(class='table table-sm table-striped')
        thead
            tr
                th(scope='col') Date
                th(scope='col') Conference
                th(scope='col') Year/Instance
                th(scope='col') What
                th(scope='col') Track
        tbody
        each date in dates
            tr
                th(scope='row') #{date.datevalue}
                td
                    a(href='/conf/' + date.conf.id) #{date.conf.name}
                td
                    a(href='/instance/' + date.instance.id) #{date.instance.year}
                td #{date.what}
                td
                    if (date.track)
                        a(href='/track/' + date.track.id) #{date.track.name}
