extends ../layout

block content
    if conf.acronym
        h1 #{conf.name + ' (' + conf.acronym + ')'}
    else
        h1 #{conf.name}

    h3 Basic information
    table(class='table table-sm')
        tbody
            tr
                th(scope='row') Main site
                td
                    a(href=conf.url) #{conf.url}

            tr
                th(scope='row') Submission format
                td #{conf.format}

            tr
                th(scope='row') Acceptance rate
                td #{conf.acceptance_rate}

        if (user)
            //-
                tr
                    th(scope='row') Private?
                    td
                        if conf.private_for_user_id
                            | Yes
                            | &nbsp;[Make public]
                        else
                            | No

    if (user)
        p
            if following
                form(method='POST', action='/follow/' + following.id + '?_method=DELETE')
                    input(type='hidden', name='conf_id', value=conf.id)
                    button(class='btn btn-sm btn-primary', type='submit') Unfollow
            else
                form(method='POST', action='/follow')
                    input(type='hidden', name='conf_id', value=conf.id)
                    button(class='btn btn-sm btn-primary', type='submit') Follow
            if perms.can_edit
                a(href='/conf/' + conf.id + '/edit')
                    button(class='btn btn-sm btn-info', type='submit') Edit
            if perms.can_delete
                form(method='POST', action='/conf/' + conf.id + '?_method=DELETE')
                    button(class='btn btn-sm btn-danger', type='submit') Delete

    h3 Instances
    table(class='table table-sm table-striped')
        thead
            tr
                th(scope='col') Year
                th(scope='col') Site
                th(scope='col') &nbsp;
        tbody
            if (user)
                tr
                    td(colspan="3")
                        form(method='POST', action='/conf/' + conf.id + '/instance')
                            div(class='input-group input-group-sm')
                                input(type='number', min="2015", max="2020", name='year')
                                button(class='btn btn-sm', type='submit') New
            each instance in instances
                tr
                    th(scope='row')
                        a(href='/conf/' + conf.id + '/instance/' + instance.id)
                            | #{instance.year}
                    td
                        if instance.url
                            a(href=instance.url, target="_blank")
                                | #{instance.url}
                    td
                        if instance.private_for_user_id
                            | &nbsp; (Private)

