extends ../layout

block content
    h1 #{conf.name}

    p
        form(method='post', action='/conf/' + conf.id + '/instance/' + instance.id + '/?_method=PUT')
            div(class='form-group row')
                label(for='year', class="col-sm-2 col-form-label") Year:
                input#year(class='form-control col-sm-10', type='number', min="2000", max="2020", name='year',
                    value=instance.year)

            div(class='form-group row')
                label(for='url', class="col-sm-2 col-form-label") URL:
                input#url(class='form-control col-sm-10', type='url', name='url',
                    value=instance.url)

            div(class='form-group row')
                label(for='conf_start', class="col-sm-2 col-form-label") Conference start:
                input#conf_start(class='form-control col-sm-10', type='date', name='conf_start',
                    value=instance.conf_start)

            div(class='form-group row')
                label(for='conf_end', class="col-sm-2 col-form-label") Conference end:
                input#conf_end(class='form-control col-sm-10', type='date', name='conf_end',
                    value=instance.conf_end)

            if (parents.length > 0)
                div(class='form-group row')
                    label(for='parent_id', class="col-sm-2 col-form-label") Colocated with:
                    select#parent_id(name='parent_id')
                        option(value='0') No parent
                        each parent in parents
                            option(value=parent.id, selected=(instance.parent_id === parent.id))
                                | #{parent.conf_name}, #{parent.year}

            div(class='form-group row')
                label(for='venue', class="col-sm-2 col-form-label") Venue:
                input#venue(class='form-control col-sm-10', type='text', name='venue',
                    value=instance.venue)

            div(class='form-group row')
                label(for='city', class="col-sm-2 col-form-label") City:
                input#city(class='form-control col-sm-10', type='text', name='city',
                    value=instance.city)

            div(class='form-group row')
                label(for='nearby_city', class="col-sm-2 col-form-label") Nearby city:
                input#nearby_city(class='form-control col-sm-10', type='text', name='nearby_city',
                    value=instance.nearby_city)

            div(class='form-group row')
                label(for='region', class="col-sm-2 col-form-label") Region:
                input#region(class='form-control col-sm-10', type='text', name='region',
                    value=instance.region)

            div(class='form-group row')
                label(for='country', class="col-sm-2 col-form-label") Country:
                input#country(class='form-control col-sm-10', type='text', name='country',
                    value=instance.country)

            div(class='form-group row')
                button(class='btn btn-sm btn-primary mr-3', type='submit') Update
                a(href='/conf/' + conf.id + '/instance/' + instance.id, class='btn btn-sm btn-primary') Cancel

    p
    form(method='post', action=ci_path + '/note' + '?_method=PUT')
        include ../note/edit_private
        div(class='form-group row')
            button(class='btn btn-sm btn-primary mr-3', type='submit') Update
    p
    form(method='post', action=ci_path + '/note' + '?_method=PUT')
        include ../note/edit_public
        div(class='form-group row')
            button(class='btn btn-sm btn-primary mr-3', type='submit') Update
