extends ../layout

block content
    h2
        a(href=c_path)
            | #{conf.name}
        | &nbsp;'#{instance.year}

    h3 Basic information
    table(class='table table-sm')
        tbody
            tr
                th(scope='row') URL
                td
                    a(href=instance.url, target='_blank') #{instance.url}
            tr
                th(scope='row') Venue
                td #{instance.venue} in #{instance.city}
                    if (instance.nearby_city)
                        | &nbsp;(near #{instance.nearby_city})
                    | ,&nbsp;
                    if (instance.region)
                        | #{instance.region},&nbsp;
                    | #{instance.country}

    if (user)
        div(class="input-group mb-3")
            if perms.can_edit
                a(href=ci_path + '/edit')
                    button(class='btn btn-sm btn-info', type='submit') Edit

            if perms.can_delete
                form(method='POST', action=ci_path + '?_method=DELETE')
                    button(class='btn btn-sm btn-danger', type='submit') Delete

    h3 Call For Papers
    table(class='table table-sm')
        tbody
            if (user)
                tr
                    td(scope='row')
                        form(method='POST', action=ci_path + '/track')
                            div(class='input-group input-group-sm')
                                label(class="input-group-text", for='instance_name') Name:
                                input#instance_name(type='text', name='name')
                                button(class='btn btn-sm', type='submit') New
            each val in tracks
                tr
                    td
                        a(href=ci_path + '/track/' + val.id) #{val.name}

    h3 Dates
    table(class='table table-sm')
        thead
            tr
                th(scope='col') When
                th(scope='col') What
                th(scope='col') &nbsp;
        tbody
            if (user)
                tr
                    form(method='POST', action='/date')
                        input(type='hidden', name='conf_id', value=conf.id)
                        input(type='hidden', name='instance_id', value=instance.id)
                        td(scope='row')
                            input#date_when(type='date', name='datevalue')
                        td
                            input#date_what(type='text', name='what')
                        td
                            button(class='btn btn-sm', type='submit') New

            each entry in dates
                tr
                    td #{entry.when}
                    td
                        if entry.track_id
                            a(href=ci_path + '/track/' + entry.track_id) #{entry.track_name}
                            | ,&nbsp;
                        | #{entry.what}
                    td &nbsp;
