extends ../layout

block content
    h1 CFP Track for&nbsp;
        a(href=c_path)
            | #{conf.name},
        | &nbsp;
        a(href=ci_path)
            | #{instance.year}

    p
        form(method='post', action=track_path + '/?_method=PUT')
            div(class='form-group row')
                label(for='name', class="col-sm-2 col-form-label") Name:
                input#name(class='form-control col-sm-10', type='text', name='name', value=track.name)
            div(class='form-group row')
                label(for='url', class="col-sm-2 col-form-label") URL:
                input#url(class='form-control col-sm-10', type='url', name='url', value=track.url)
            div(class='form-group row')
                label(for='page_limit', class="col-sm-2 col-form-label") Page limit:
                input#page_limit(class='form-control col-sm-10', type='number', name='page_limit', min='2', value=track.page_limit)
            div(class='form-group row')
                label(for='increfs', class="col-sm-2 col-form-label") ... including references?
                input#increfs(class='form-control col-sm-10', type='checkbox', name='including_references',
                    checked=track.including_references)
            div(class='form-group row')
                label(for='double_blind', class="col-sm-2 col-form-label") Double blind?
                input#double_blind(class='form-control col-sm-10', type='checkbox', name='double_blind',
                    checked=track.double_blind)

            div(class='form-group row')
                label(for='submission', class="col-sm-2 col-form-label") Submission:
                input#submission(class='form-control col-sm-10', type='date', name='submission',
                    value=track.submission)

            div(class='form-group row')
                label(for='notification', class="col-sm-2 col-form-label") Notification:
                input#notification(class='form-control col-sm-10', type='date', name='notification',
                    value=track.notification)

            div(class='form-group row')
                label(for='camera_ready', class="col-sm-2 col-form-label") Camera ready:
                input#camera_ready(class='form-control col-sm-10', type='date', name='camera_ready',
                    value=track.camera_ready)

            div(class='form-group row')
                div(class='button')
                    button(class='btn btn-sm btn-primary mr-3', type='submit') Update
                    a(href=track_path, class='btn btn-sm btn-primary') Cancel

    p
    form(method='post', action=track_path + '/note' + '?_method=PUT')
        include ../note/edit_private
        div(class='form-group row')
            button(class='btn btn-sm btn-primary mr-3', type='submit') Update
    p
    form(method='post', action=track_path + '/note' + '?_method=PUT')
        include ../note/edit_public
        div(class='form-group row')
            button(class='btn btn-sm btn-primary mr-3', type='submit') Update
